<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OBNdula"
        tools:targetApi="31">



        <activity
            android:name=".login"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.OBNdula.NoActionBar" />
        <activity
            android:name=".signUp"
            android:exported="false"
            android:label="signUp"
            android:theme="@style/Theme.OBNdula.NoActionBar" />


        <activity android:name=".admin"
            android:exported="false"
            android:label="admin"
            android:theme="@style/Theme.OBNdula.NoActionBar"
            />
        <activity android:name=".homepage"
            android:exported="false"
            android:label="homepage"
            android:theme="@style/Theme.OBNdula.NoActionBar"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>